.card {
    width: calc(50% - 30px); 
    height: 400px;
    margin-bottom: 20px; 
    margin-right: 20px; 
    background-color: #f8f9fa; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.card-img-top {
    max-height: 200px;
    object-fit: cover; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
}

.card-body {
    padding: 20px; 
    height: calc(100% - 200px); 
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
}

.card-title {
    font-size: 1.25rem; 
}

.card-text {
    color: #333; 
}

.cart {
    position: fixed;
    top: 70px; 
    right: 0;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.cart h3 {
    margin-top: 0;
}

.cart-items {
    list-style-type: none;
    padding: 0;
}

.cart-item {
    margin-bottom: 10px;
}

.cart-total {
    margin-top: 20px;
    text-align: right;
}

#checkout-btn {
    display: block;
    margin-top: 20px;
    width: 100%;
}
#checkout-btn2 {
    display: block;
    margin-top: 20px;
    width: 100%;
}
.title {
    text-align: center;
    margin-top: 50px; 
    margin-bottom: 50px; 
}
